{% extends 'layout.html' %}
{% block body %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4>欢迎您, {{ g.user.nickname }}!</h4>
                </div>
                <div class="panel-body">
                    <form action="" method="post" name="post" class="form">
                        {{ form.hidden_tag() }}
                        <div class="form-group{% if form.post.errors %} has-error{% endif %}">
                            {{ form.post(rows=4, maxlength=140, placeholder="说点啥吧……", class="form-control") }}
                            {% for error in form.post.errors %}
                                <span class="help-block">{{ error }}</span>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">发布</button>
                        </div>
                    </form>
                    <hr>
                    <ul class="media-list">
                        {% for post in posts.items %}
                            {% include 'post.html' %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="panel-footer">
                    <nav>
                        <ul class="pagination">
                            <li{% if not posts.has_prev %} class="disabled"{% endif %}>
                                <a href="{{ url_for('index', page=posts.prev_num) if posts.has_prev else '#' }}"
                                   aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            {%- for page in posts.iter_pages() %}
                                {% if page %}
                                    {% if page != posts.page %}
                                        <li><a href="{{ url_for('index', page=page) }}">{{ page }}</a></li>
                                    {% else %}
                                        <li class="active"><a href="#">{{ page }} <span class="sr-only">(current)</span></a>
                                        </li>
                                    {% endif %}
                                {% else %}
                                    <li class="disabled"><a href="#">...</a></li>
                                {% endif %}
                            {%- endfor %}
                            <li{% if not posts.has_next %} class="disabled"{% endif %}>
                                <a href="{{ url_for('index', page=posts.next_num) if posts.has_next else '#' }}"
                                   aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
